{% extends 'connect4/base.html' %} {% block content %}
<div class="jumbotron">
  <h1>SET UP YOUR GAME!</h1>
  <p class="lead"><i>Create a game</i></p>
  <form class="lead ss-flex-col" method="POST" action="{% url 'create_game' %}">
    {% csrf_token %}
    <div>
      <input type="text" name="name" placeholder="Type your Name!" required class="ss-input"/>
      <input hidden type="text" name="player" value="1" />
    </div>
    <input
      type="submit"
      class="btn btn-lg btn-secondary fw-bold border-white play"
      value="Create game"
      style="margin: auto; margin-top: 1rem"
    />
  </form>
  <hr />
  <form class="lead ss-flex-col" method="POST" action="{% url 'join_game' %}">
    {% csrf_token %}
    <p><i>Join a game</i></p>
    <div>
      <input type="text" name="name" placeholder="Write your Name!" required class="ss-input" />
      <input type="number" name="id" placeholder="Game ID" required class="ss-input" />
    </div>
    <input
      type="submit"
      class="btn btn-lg btn-secondary fw-bold border-white play"
      value="Join" 
      style="margin: auto; margin-top: 1rem"
    />
  </form>
</div>
{% endblock %}
